@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: cornsilk;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

body.dark{
  background-color: #0E141C;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.note {
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
}

.note.dark {
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
}

.note:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.note.dark:hover{
  box-shadow: 0 4px 6px rgba(1, 1, 3, 0.4), 0 2px 4px rgba(1, 1, 3, 0.3);
}

.note-body{
  overflow: hidden;
  mask-image: linear-gradient(180deg, #000 60%, transparent);
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;               /* Narrow width for pill shape */
}

::-webkit-scrollbar-track {
  background: cornsilk;           /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #F2D161;     /* Color of the scrollbar thumb */
  border-radius: 20px;        /* High border-radius for pill shape */
  border: 2px solid cornsilk;     /* Optional padding around the thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;      /* Makes the scrollbar thinner */
  scrollbar-color: #F2D161 cornsilk; /* Thumb color and track color */
}